<app-menu (newMenuEvent)="showSelected($event)"></app-menu>
<div class="body">

  <div class="bodyContainer">
    <p style="font-size:20px;">{{selectedName}}</p>

    <div class = "cardContainer" *ngIf="selectedName == 'New Releases'">
      <div class="card" *ngFor="let item of listNewReleases">
        <div class="rating">{{ item.rating }}</div>
        <div class="poster"><img src={{item.poster}} width="250px" height="325px"></div>
        <div class="name">{{ item.name }}</div>
      </div>
    </div>
  </div>


</div>

