<app-menu (newMenuEvent)="showSelected($event)" [dataGenres] = "getGenre()"></app-menu>
<div class="body">
  <div class="bodyContainer">

    <div *ngIf="selectedName == selectedName && searchWord == ''">
      <p style="font-size:20px;">{{selectedName}}</p>
      <div class = "cardContainer">
        <!-- //Working -->
        <div class="card" *ngFor="let movie of getList()">
          <div class="rating">{{ movie.imdbRating }}</div>
          <div class="poster"><img src={{movie.posterurl}} width="275px" height="350px"></div>
          <div class="name">{{ movie.originalTitle }}</div>
          <div class="genres">{{ movie.genres }}</div>
        </div>
        <!-- <div class="card" *ngFor="let item of listNewReleases">
          <div class="rating">{{ item.rating }}</div>
          <div class="poster"><img src={{item.poster}} width="250px" height="325px"></div>
          <div class="name">{{ item.name }}</div>
        </div> -->
      </div>
    </div>

    <div *ngIf="searchWord != ''">
      <p style="font-size:20px;">Search '{{searchWord}}' results:</p>
      <div *ngIf="getSearchList().length == 0">
        <p style="font-size:20px;">Not found.</p>
      </div>
      <div class = "cardContainer">
        <div class="card" *ngFor="let movie of getSearchList()">
          <div class="rating">{{ movie.imdbRating }}</div>
          <div class="poster"><img src={{movie.posterurl}} width="275px" height="350px"></div>
          <div class="name">{{ movie.originalTitle }}</div>
          <div class="genres">{{ movie.genres }}</div>
        </div>
      </div>
    </div>


  </div>
</div>

