:host {
  // display: flex;
  min-width: 100%;
  // min-height: 100%;

  .body {
    height: 100%;
    // width: 100%;
    // padding-left: 15px;
    // padding-top: 15px;
    // padding-right: 5px;
    // padding-bottom: 5px;
    background: rgb(50, 50, 75);
    color: white;
    padding-left: 210px;

    .bodyContainer {
      padding: 5px;

      .cardContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .card {
          display: flex;
          flex-direction: column;
          width: 305px;
          height: 435px;
          background: transparent;
          align-items: center;
          margin-left: 7px;
          margin-right: 7px;
          margin-bottom: 5px;
          padding: 5px;

          .poster {
            padding-top: 10px;
          }

          .name {
            font-size: 22px;
            font-weight: 250;
            padding-left: 12px;
            padding-right: 12px;
          }

          .rating {
            font-size: 18px;
            background: rgb(141, 141, 0);
            position: absolute;
            padding: 3px;
          }

          .genres {
            font-size: 15px;
          }

        }

      }

    }

  }

}
