.cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .card {
    display: flex;
    flex-direction: column;
    width: 305px;
    height: 435px;
    background: transparent;
    align-items: center;
    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 5px;
    margin-top: 15px;
    padding: 5px;
    // background: rgb(141, 141, 0);

    .poster {
      padding-top: 10px;
      cursor: pointer;
    }

    .name {
      font-size: 22px;
      font-weight: 250;
      padding-left: 12px;
      padding-right: 12px;
    }

    .rating {
      font-size: 18px;
      background: rgb(141, 141, 0);
      position: absolute;
      padding: 3px;
    }

    .genres {
      font-size: 15px;
    }

  }

}

.filterRating {
  height: 75px;
  width: 100%;
  // background: rgb(30, 30, 30);
  position: relative;
}
