<div class="overlay" *ngIf="isPopUpStatus==true">
  <div class="popUp">
    <div style="font-size: 20px;">{{'setting' | translate}}</div>
    <a class="close" (click)="changePopUpStatus()">&times;</a>
    <br>
    <select style="right: 5px" #langSelect (change)="translate.use(langSelect.value)">
      <option
      *ngFor="let lang of translate.getLangs()"
      [value]="lang"
    >{{lang}}</option>
    </select>
    &nbsp;&nbsp;&nbsp;
    <input type="button" (click)="logOut()" class="buttonLogout" value="{{'logout' | translate}}">
  </div>
</div>
