// .overlay {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   background: rgba(0, 0, 0, 0.5);
// }

.popUp {
  top: 12px;
  right: 15px;
  padding: 5px;
  background: #fff;
  border-radius: 5px;
  position: absolute;

  .close {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 30px;
    font-weight: bold;
    color: #333;
  }

  .close:hover {
    color: #06D85F;
    cursor: pointer;
  }

  .buttonLogout{
    position: relative;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
  }
}
