.movieDetails {

  .title {
    padding-top: 15px;
    padding-left: 10px;
    font-size: 20px;
  }

  .ratingReleaseDateYearGenreActors {
    padding-top: 5px;
    padding-left: 10px;
    font-size: 18px;
  }

  .storyline{
    padding-top: 5px;
    padding-left: 10px;
    font-size: 18px;
  }

}

.group-2 {
    border: 1px solid red;
    border-radius: 5px;
    display: table;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.group-2 img {
    cursor: pointer;
    width: 115px;
    height: 105px;
    padding: 10px;
    border-radius: 15px;
}
