<div *ngIf="isMovieListLoaded==false">
  {{getApiMovieDetails()}}
</div>
<div *ngIf="detailsMovie">
  <div class= "movieDetails">
    <div style="font-size:30px;">{{'movieDetails' | translate}}</div>
      <div class="title">{{'movieName' | translate}} {{ detailsMovie.title }}</div>
      <div [ngStyle]="getBackground(detailsMovie.poster_path)"></div>
      <div class="ratingReleaseDateYearGenreActors">
        <p>{{'rating' | translate}} {{ detailsMovie.vote_average }}</p>
        <p>{{'releaseDate' | translate}} {{ detailsMovie.release_date }}</p>
        <div style="font-size:20px;">{{'genre' | translate}}</div>
        <div *ngFor="let genre of detailsMovie.genres">
          {{ genre.name }}
        </div>
        <br>
      </div>
      <br>
      <div class="storyline">
        {{'storyline' | translate}}
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ detailsMovie.overview }}
      </div>
  </div>
</div>

