<div class="background">
  <div class="loginContainer">
    <div class="welcome">
      Welcome To Movie Site
    </div>
    <div class="loginDetails">
      <p style="font-size: 25px; padding-left: 150px">Login</p>

      <div style="font-size: 20px; padding-left: 100px">

          <!-- <p>Email address:</p>
          <input type="email" [(ngModel)]="emailValue" placeholder="Enter email address"> -->

          <div class="container-fluid">
            <form [formGroup]="user">
            <div class="form-group">

              <label>Email address:</label><br>
              <input [class.is-invalid]="primEmail.invalid && primEmail.touched" type="email" class="form-control" formControlName="primaryEmail" placeholder="Enter email address"/>
              <div style="font-size: 15px;" *ngIf="(primEmail.invalid && primEmail.touched) || primEmail.dirty">
                <div *ngIf="primEmail.errors?.required" class="text-danger">Email address is required</div>
                <!--question mark(?) is a safe navigation operator-->
                <div *ngIf="primEmail.errors?.pattern" class="text-danger">Please provide a valid email address</div>
              </div>

              <br><br>

              <label>Password:</label><br>
              <input [class.is-invalid]="password.invalid && password.touched" type="password" class="form-control" formControlName="password" placeholder="Enter password"/>
              <div style="font-size: 15px;" *ngIf="(password.invalid && password.touched) || password.dirty">
                <div *ngIf="password.errors?.required" class="text-danger">Password is required</div>
                <div *ngIf="password.errors?.minlength" class="text-danger">Password should be atleast 6 characters long</div>
              </div>

            </div>
            </form>
          </div>

      </div>

      <div style="padding-left: 100px; padding-top: 25px;">
        <app-checkbox [checked]="isChecked" (checkChanged)="rememberMe($event)"></app-checkbox>
      </div>

      <div style="font-size: 20px; padding-left: 100px; padding-top: 25px;">
        <input type="button" value="SIGN IN" (click)="signIn()">
      </div>

    </div>

  </div>

</div>
