<div class="positionButton">{{'ratingfilter' | translate}}
<input type="button" class="buttonRating" [class.selected]="ratingSelected == 'All'" value="{{'ratingAll' | translate}}" (click)="getFilteredMovie('All')">
<input type="button" class="buttonRating" [class.selected]="ratingSelected == '>= 8.5'" value=">= 8.5" (click)="getFilteredMovie('>= 8.5')">
<input type="button" class="buttonRating" [class.selected]="ratingSelected == '< 8.5'" value="< 8.5" (click)="getFilteredMovie('< 8.5')">
</div>

